body{
    background-color: rgba(230, 194, 147, 0.405);
    font-family: sans-serif;
}

h1{
    color: rgb(221, 188, 59);
    text-align: center;
}

.container{
    height: 404px;
    width: 665px;
    border:1px solid black;
    margin: 10px;
    text-align: center;
    margin-top: 0px;
    margin-left: 350px;
    background-color: rgb(57, 149, 157);
}

.elon{
    width: 330px;
    height: 200px;
    display: block;
    display:inline;
    margin: 0px;
    border: none;
}

#inleiding{
    color: rgb(202, 171, 49);
    text-align: center;
    margin-top: 20px;
    font-family: sans-serif;
}

.logos{
    width: 100px;
    height: 60px;
    margin: 50px 0 0 20px;
    display: inline;
}

#profiel{
    text-align: center;
    display: block;
    width: 50%;
    height: 10%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 2%;
}

.musk{
    text-align: center;
    margin-top: 70px;
}

h2{
    text-align: center;
    margin-bottom: 15px;
    margin-top: 30px;
}

.kern{
    text-align: justify;
    color: rgb(202, 171, 49);
}